body {
    overflow: hidden;
}

.pace {
    display: none;
}

#version {
    z-index: 1000;
    color: rgb( 225, 225, 225 );
    text-shadow: 0px 0px 1px rgb( 0, 0, 0 );
    font-family: Gadget, sans-serif;
    font-size: 16px;
    line-height: 16px;
    pointer-events: none;
    position: absolute;
    bottom: 2px;
    right: 2px;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

a {
    pointer-events: all;
}

a:link {
    color: rgb( 224, 255, 100 );
}

a:visited {
    color: rgb( 224, 255, 100 );
}

a:hover {
    color: rgb( 255, 255, 255 );
}

a:active {
    color: rgb( 255, 0, 0 );
}

#blocklyIndicator {
    background-image: url( "assets/images/blockly_ui/blockly_indicator.png" );
    width: 40px;
    height: 17px;
    position: absolute;
    visibility: hidden;
}

#blocklyIndicator.stopped {
    background-image: url( "assets/images/blockly_ui/blockly_indicator_stopped.png" );
}

#blocklyIndicatorCount {
    background-image: url( "assets/images/blockly_ui/number_appendix.png" );
    width: 38px;
    height: 15px;
    padding-left: 7px;
    padding-top: 2px;
    position: absolute;
    right: 39px;
    font-size: 10px;
    font-family: sans-serif;
    color: white;
    visibility: hidden;
}

#blocklyIndicatorCount.stopped {
    background-image: url( "assets/images/blockly_ui/number_appendix_stopped.png" );
}

#blocklyWrapper {
    width: 560px;
    height: 812px;
    min-height: 200px;
    max-height: 812px;
    min-width: 470px;
    max-width: 812px;
    position: absolute;
    background-color: rgb( 50, 90, 150);
    border-radius: 8px;
    border: 1px solid rgb( 70, 110, 170 );
    visibility: hidden;
    pointer-events: none;
    font-family: Gadget, sans-serif;
    z-index: 50;
}

#blocklyWrapper-top {
    height: 48px;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#blocklyFooter {
    height: 64px;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#blocklyScrollDiv {
    height: 700px;
    min-height: 88px;
    max-height: 700px;
    min-width: 470px;
    max-width: 812px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

#blocklyDiv {
    height: 1000px;
    width: 100%;
    overflow: hidden;
}

#startBlockly {
    height: 32px;
    width: 64px;
    position: absolute;
    bottom: 16px;
    right: 8px;
    background: url( "assets/images/blockly_ui/start_button.png" );
}

#startBlockly.disabled {
    background: url( "assets/images/blockly_ui/start_button_disabled.png" );
    pointer-events: none;
}

#startBlockly.reset {
    background: url( "assets/images/blockly_ui/reset_button.png" );
}

.blocklyTab {
    height: 24px;
    width: 96px;
    background-image: url( "assets/images/blockly_ui/tab.png" );
    background-position: bottom;
    background-repeat: no-repeat;
    display: inline-block;
    color: rgb( 51, 51, 51 );
    font-family: "Arial Black", Gadget, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    margin-top: 24px;
}

.blocklyTab.selected {
    background-image: url( "assets/images/blockly_ui/tab_selected.png" );
    color: rgb( 50, 90, 150 );
}

#toolbox {
    display: none;
}

#transitionScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 102;
    pointer-events: none;
}

#blocklyHandle {
    height: 24px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url( "assets/images/blockly_ui/drag_handle_bg.png" );
    background-repeat: repeat-x;
    background-color: rgb( 50, 90, 150 );
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#blocklyHandleIcon {
    height: 24px;
    background-image: url( "assets/images/blockly_ui/drag_handle.png" );
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

#ramBar {
    width: 384px;
    height: 32px;
    background-color: rgb( 51, 51, 51 );
    border: 1px solid rgb( 51, 51, 51 );
    border-radius: 16px;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    position: absolute;
    bottom: 15px;
    left: 8px;
    display: inline-block;
}

#currentRam {
    height: 32px;
    background-image: url( "assets/images/blockly_ui/ram_bg.png" );
    border-radius: 16px;
}

#ramBarCount {
    width: 100%;
    height: 32px;
    color: #fff;
    font-size: 24px;
    text-shadow: 0 0 0.2em rgb( 150, 90, 50 );
    line-height: 32px;
    position: relative;
    top: -32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#blocklyCloseBtn {
    width: 32px;
    height: 24px;
    background-image: url( "assets/images/blockly_ui/close_button.png" );
    position: absolute;
    top: 0px;
    right: 0px;
    border-top-right-radius: 8px;
}

#blocklyCloseBtn.hover {
    background-image: url( "assets/images/blockly_ui/close_button_hover.png" );
}

#popupDiv {
    width: 512px;
    height: 256px;
    margin-left: -256px;
    margin-top: -128px;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    background-color: #333444;
    color: #fff;
    z-index: 50;
}

#popupBlocker {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
    background-color: #000;
    z-index: 49;
}

.subtitleText {
    color: #fff;
    font-family: Gadget, sans-serif;
    font-size: 14px;
    width: 100%;
    margin-bottom: 5px;
}

#subtitleDisplayWrapper {
    position: relative;
    bottom: 5px;
    left: 5px;
    width: 100%;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;    
}

#loggerBox {
    width: 26%;
    height: 140px;
    background-color: rgba( 0, 30, 60, 0.5 );
    position: absolute;
    bottom: 10px;
    left: 110px;
    overflow-y: scroll;
    padding: 5px;
    z-index: 0;
}

#introScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
}

.introImage {
    min-height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#failScreen {
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 95;
}

.tooltip {
    background-color: white;
    font-family: Gadget, sans-serif;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    border: 1px solid rgb( 0, 30, 60 );
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    z-index: 51;
}

.videoWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 103;
}

.video {
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#pauseScreen {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: all;
    background-color: rgba( 0, 30, 60, 0.75 );
    z-index: 101;
}

.pauseMenu {
    width: 400px;
    min-height: 320px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb( 24, 24, 32 );
    border: 2px solid rgb( 255, 255, 255 );
    border-radius: 4px;
}

.pauseMenuButton {
    height: 64;
    line-height: 64px;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-family: Gadget, sans-serif;
    font-weight: bold;
    color: rgb( 200, 200, 200 );
    text-shadow: 0px 0px 4px rgb( 255, 255, 255 );
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 10%;
}

.pauseMenuButton.hover {
    color: rgb( 255, 255, 255 );
    background-color: rgba( 255, 255, 255, 0.25 );
}

.pauseMenuButton.select {
    color: rgb( 255, 255, 255 );
    background-color: rgba( 70, 110, 170, 0.25 );
}

#scenarioSelector {
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    margin-left: 10%;
    margin-right: 10%;
    display: table;
}

#previousScenario {
    width: 64px;
    height: 64px;
    background-image: url( "assets/images/previous_arrow.png" );
}

#nextScenario {
    width: 64px;
    height: 64px;
    background-image: url( "assets/images/next_arrow.png" );
}

#scenarioDisplay {
    height: 64px;
    width: 192px;
    line-height: 24px;
    font-size: 24px;
    text-align: center;
    font-family: Gadget, sans-serif;
    text-shadow: 0px 0px 4px rgb( 255, 255, 255 );
}

.inlineButton {
    color: rgb( 200, 200, 200 );
    display: table-cell;
    vertical-align: middle;
    border-radius: 4px;
}
.inlineButton.hover {
    color: rgb( 255, 255, 255 );
    background-color: rgba( 255, 255, 255, 0.25 );
}
.inlineButton.select {
    color: rgb( 255, 255, 255 );
    background-color: rgba( 70, 110, 170, 0.25 );
}

.slider {
    height: 64;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 10%;
    display: table;
}

.sliderToggle {
    height: 64px;
    width: 64px;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    display: table-cell;
}

.sliderToggle.hover {
    background-color: rgba( 255, 255, 255, 0.25 );
}

.sliderToggle.select {
    background-color: rgba( 70, 110, 170, 0.25 );
}

.sliderTrack {
    height: 64px;
    width: 256px;
    border-radius: 4px;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-image: url( "assets/images/slider_track.png" );
    display: table-cell;
}

.sliderReadout {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-family: Gadget, sans-serif;
    font-weight: bold;
    color: rgb( 200, 200, 200 );
    pointer-events: none;
}

.sliderHandle {
    height: 32px;
    width: 32px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-image: url( "assets/images/slider_handle.png" );
    pointer-events: none;
}

#mute {
    background-image: url( "assets/images/volume_icon.png" );
}
#mute.muted {
    background-image: url( "assets/images/volume_mute_icon.png" );
}

#MainMenu-Wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#MainMenu-Main {
    position: absolute;
    top: 20%;
    left: 10%;
}

#MainMenu-Settings {
    position: absolute;
    top: 20%;
    left: 10%;
}

.MainMenu-Button {
    width: 512px;
    height: 128px;
    text-transform: uppercase;
    font-family: Gadget, sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 128px;
    color: rgb( 50, 90, 150 );
    text-shadow: 0px 0px 4px rgb( 50, 90, 150 );
    margin-left: auto;
    margin-right: auto;
}

.MainMenu-Button.hover {
    color: rgb( 50, 90, 150 );
    text-shadow: 0px 0px 8px rgb( 50, 90, 150 );
}

.MainMenu-Button.select {
    color: rgb( 255, 255, 255 );
    text-shadow: 0px 0px 8px rgb( 50, 90, 150 );
}

#MainMenu-Volume {
    height: 64;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    border-radius: 4px;
    display: table;
    background-color: rgb( 50, 90, 150 );
    padding: 4px;
}

#MainMenu-MuteButton {
    height: 64px;
    width: 64px;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    display: table-cell;
    background-image: url( "assets/images/volume_icon.png" );
}

#MainMenu-MuteButton.muted {
    background-image: url( "assets/images/volume_mute_icon.png" );
}

#MainMenu-Slider {
    height: 64px;
    width: 256px;
    border-radius: 4px;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-image: url( "assets/images/slider_track.png" );
    display: table-cell;
}

#MainMenu-Readout {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-family: Gadget, sans-serif;
    font-weight: bold;
    color: rgb( 255, 255, 255 );
    pointer-events: none;
}

#MainMenu-Handle {
    height: 32px;
    width: 32px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-image: url( "assets/images/slider_handle.png" );
    pointer-events: none;
}

#loginBox {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 400px;
}

#loginForm {
    position: absolute;
    top: 60%;
    height: 120px;
    width: 400px;
    background-color: rgba( 0, 0, 0, 0.75);
    color: rgb( 224, 255, 100 );
    border-radius: 8px;
    text-align: center;
}

#loginHeading {
    height: 40px;
    line-height: 40px;
    font-family: Gadget, sans-serif;
    font-weight: bold;
}