body {
    overflow: hidden;
}

#blocklyWrapper {
    width: 560px;
    height: 812px;
    position: absolute;
    background-color: rgb( 50, 90, 150);
    border-radius: 8px;
    border: 1px solid rgb( 70, 110, 170 );
    visibility: hidden;
    pointer-events: none;
    font-family: "Arial Black", Gadget, sans-serif;
}

#blocklyWrapper-top {
    height: 48px;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#blocklyFooter {
    height: 64px;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#blocklyDiv {
    height: 700px;
    width: 560px;
    overflow: hidden;
}

#runStopContainer {
    position: absolute;
    bottom: 6px;
    right: 8px;
    width: 64px;
    display: inline-block;
}

#runButton {
    height: 24px;
    width: 64px;
    background: url( "assets/images/blockly_ui/run_button.png" );
}

#runButton.disabled {
    background: url( "assets/images/blockly_ui/run_button_disabled.png" );
    pointer-events: none;
}

#stopButton {
    height: 24px;
    width: 64px;
    background: url( "assets/images/blockly_ui/stop_button.png" );
}

#stopButton.disabled {
    background: url( "assets/images/blockly_ui/stop_button_disabled.png" );
    pointer-events: none;
}

.blocklyTab {
    height: 24px;
    width: 96px;
    background-image: url( "assets/images/blockly_ui/tab.png" );
    background-position: bottom;
    background-repeat: no-repeat;
    display: inline-block;
    color: rgb( 51, 51, 51 );
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    margin-top: 24px;
}

.blocklyTab.selected {
    background-image: url( "assets/images/blockly_ui/tab_selected.png" );
    color: rgb( 50, 90, 150 );
}

#toolbox {
    display: none;
}

#transitionScreen {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 100;
}

#blocklyHandle {
    height: 24px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url( "assets/images/blockly_ui/drag_handle_bg.png" );
    background-repeat: repeat-x;
    background-color: rgb( 50, 90, 150 );
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#blocklyHandleIcon {
    height: 24px;
    background-image: url( "assets/images/blockly_ui/drag_handle.png" );
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

#ramBar {
    width: 384px;
    height: 32px;
    background-color: rgb( 51, 51, 51 );
    border: 1px solid rgb( 51, 51, 51 );
    border-radius: 16px;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    position: absolute;
    bottom: 15px;
    left: 8px;
    display: inline-block;
}

#currentRam {
    height: 32px;
    background-image: url( "assets/images/blockly_ui/ram_bg.png" );
    border-radius: 16px;
}

#ramBarCount {
    width: 100%;
    height: 32px;
    color: #fff;
    font-size: 24px;
    text-shadow: 0 0 0.2em rgb( 150, 90, 50 );
    line-height: 32px;
    position: relative;
    top: -32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#blocklyCloseBtn {
    width: 32px;
    height: 24px;
    background-image: url( "assets/images/blockly_ui/close_button.png" );
    position: absolute;
    top: 0px;
    right: 0px;
    border-top-right-radius: 8px;
}

#blocklyCloseBtn.hover {
    background-image: url( "assets/images/blockly_ui/close_button_hover.png" );
}

#blocklyHelpButton {
    height: 24px;
    width: 32px;
    background-image: url( "assets/images/blockly_ui/help_button.png" );
    position: absolute;
    top: 0px;
    right: 32px;
    border-right: 1px solid rgb( 70, 110, 170 );
}

#blocklyHelpButton.hover {
    background-image: url( "assets/images/blockly_ui/help_button_hover.png" );
}

#popupDiv {
    width: 512px;
    height: 256px;
    margin-left: -256px;
    margin-top: -128px;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    background-color: #333444;
    color: #fff;
    z-index: 100;
}

#popupBlocker {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
    background-color: #000;
    z-index: 99;
}

.statusText {
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    opacity: 1;
    z-index: 3;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.alertText {
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 24px;
    font-style: bold;
    opacity: 1;
    z-index: 3;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.subtitleText {
    color: #fff;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    width: 100%;
    margin-bottom: 5px;
}

#statusDisplayWrapper {
    text-align: center;
    position: absolute;
    bottom: 120px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#alertDisplayWrapper {
    text-align: center;
    position: absolute;
    top: 50px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#subtitleDisplayWrapper {
    position: relative;
    bottom: 5px;
    left: 5px;
    width: 100%;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;    
}

#loggerBox {
    width: 30%;
    height: 140px;
    background-color: rgba( 0, 30, 60, 0.5 );
    position: absolute;
    bottom: 10px;
    left: 110px;
    overflow-y: scroll;
    z-index: 3;
    padding: 5px;
}

#introScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 99;
}

.introImage {
    min-height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#failScreen {
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#blocklyHelpScreen {
    background-image: url('assets/images/introScreens/screen1.png');
}

#helpScreen {
    background-image: url('assets/images/introScreens/screen3.png');
}

.help {
    background-color: rgb(0,0,0);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2500;
}