body {
    overflow: hidden;
    font-family: sans-serif;
}

#loadingScreen {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    background-image: url( "../../assets/images/introScreens/Intro_screen.jpg" );
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5000;
}

#loadingText {
    color: white;
    font-size: 32px;
    position: absolute;
    bottom: 32px;
    left: 0px;
    right: 0px;
}

#timerWindow {
    position: absolute;
    left: 20px;
    bottom: 225px;
    width: 250px;
    background-color: rgba( 0, 0, 0, 0.5 );
    color: white;
    text-align: center;
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    pointer-events: none;
    display: none;
}

#timerScenarioName {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}

#elapsedTime {
    font-size: 14px;
}

#timerScenarioElapsedTime {
    font-size: 22px;
}

#timerDetailButton {
    pointer-events: all;
    font-size: 14px;
    color: rgb( 129, 232, 255 );
    cursor: pointer;
}

#timerDetailList {
    display: none;
}

.timerListItem {
    text-transform: capitalize;
    font-size: 14px;
}

#timerTotal {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

#HUDCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

#version {
    z-index: 1000;
    color: rgb( 225, 225, 225 );
    text-shadow: 0px 0px 1px rgb( 0, 0, 0 );
    font-size: 16px;
    line-height: 16px;
    pointer-events: none;
    position: absolute;
    bottom: 2px;
    right: 2px;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#zoomAlert {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba( 0, 0, 0, 0.8 );
    color: rgb( 129, 232, 255 );
}

a {
    pointer-events: all;
    color: rgb( 129, 232, 255 );
}

a:link {
    color: rgb( 129, 232, 255 );
}

a:visited {
    color: rgb( 129, 232, 255 );
}

a:hover {
    color: rgb( 255, 255, 255 );
}

a:active {
    color: rgb( 1, 211, 255 );
}

.blocklySvg {
    background-color: rgba( 255, 255, 255, 0.3 );
    /*border-color: rgba( 255, 255, 255, 1 );*/
}

.blocklyFlyoutBackground {
    fill: rgb( 0, 0, 0 );
    fill-opacity: 0.4;
}

#blocklyBoundaries {
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0 );
}

#blocklyIndicator {
    background-image: url( "../../assets/images/blockly_ui/blockly_indicator.png" );
    width: 40px;
    height: 17px;
    position: absolute;
    visibility: hidden;
}

#blocklyIndicator.stopped {
    background-image: url( "../../assets/images/blockly_ui/blockly_indicator_stopped.png" );
}

#blocklyIndicatorCount {
    background-image: url( "../../assets/images/blockly_ui/number_appendix.png" );
    width: 38px;
    height: 15px;
    padding-left: 7px;
    padding-top: 2px;
    position: absolute;
    right: 39px;
    font-size: 10px;
    color: rgb( 255, 255, 255 );
    visibility: hidden;
}

#blocklyIndicatorCount.stopped {
    background-image: url( "../../assets/images/blockly_ui/number_appendix_stopped.png" );
}

#blocklyProcedureIndicator {
    background-image: url( "../../assets/images/blockly_ui/blockly_indicator.png" );
    width: 40px;
    height: 17px;
    position: absolute;
    visibility: hidden;
}

#blocklyProcedureIndicator.stopped {
    background-image: url( "../../assets/images/blockly_ui/blockly_indicator_stopped.png" );
}

#blocklyWrapper {
    width: 35%;
    height: 70%;
    min-height: 400px;
    min-width: 500px;
    position: absolute;
    right: 5px;
    top: 15%;
    background-color: rgba( 0, 0, 0, 0.6 );
    visibility: hidden;
    pointer-events: none;
    z-index: 50;
}

#blocklyHighlighter {
    width: 780px;
    height: 100px;
    opacity: 0.4;
    background-color: rgba( 255, 255, 0, 0.5 );
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
}

#blocklyWrapper-top {
    height: 24px;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#blocklyFooter {
    height: 24px;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#blocklyDiv {
    position: absolute;
    zoom: 100%;
}

.blocklyToolboxDiv {
    background-color: rgba( 0, 0, 0, 0.6 );
}

#startBlockly {
    height: 24px;
    width: 64px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: url( "../../assets/images/blockly_ui/start_button.png" );
}

#startBlockly.disabled {
    background: url( "../../assets/images/blockly_ui/start_button_disabled.png" );
    pointer-events: none;
}

#startBlockly.reset {
    background: url( "../../assets/images/blockly_ui/reset_button.png" );
}

#blocklySpeedButton {
    height: 24px;
    width: 64px;
    position: absolute;
    bottom: 0px;
    right: 72px;
    background: url( "../../assets/images/blockly_ui/speed_button_slow.png" );
    border-bottom-right-radius: 8px;
}

#blocklyResetButton {
    height: 24px;
    width: 64px;
    position: absolute;
    bottom: 0px;
    right: 72px;
    background: url( "../../assets/images/blockly_ui/reset_blockly_button.png" );
}

#blocklySpeedButton.normal {
    background: url( "../../assets/images/blockly_ui/speed_button_normal.png" );
}

#blocklySpeedButton.fast {
    background: url( "../../assets/images/blockly_ui/speed_button_fast.png" );
}

#blocklySpeedButton.slow {
    background: url( "../../assets/images/blockly_ui/speed_button_slow.png" );
}

.blocklyTab {
    height: 24px;
    width: 96px;
    display: inline-block;
    color: rgba( 255, 255, 255, 0.5 );
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    position: relative;
}

.blocklyTab.selected {
    color: rgb( 193, 244, 255 );
}

#transitionScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 102;
    pointer-events: none;
}

#blocklyHandle {
    height: 24px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#ramBar {
    height: 24px;
    background-color: rgba( 0, 0, 0, 0.5 );
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 144px;
    display: inline-block;
}

#currentRam {
    height: 24px;
    background-color: rgba( 225, 0, 0, 0.5 );
}

#ramBarCount {
    width: 100%;
    height: 24px;
    color: rgba( 255, 255, 255, 0.75 );
    font-size: 16px;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: -24px;
}

#blocklyCloseBtn {
    width: 24px;
    height: 24px;
    background-image: url( "../../assets/images/blockly_ui/close_button.png" );
    position: absolute;
    top: 0px;
    right: 4px;
}

#blocklyCloseBtn.hover {
    background-image: url( "../../assets/images/blockly_ui/close_button_hover.png" );
}

.subtitleText {
    color: rgb( 193, 244, 255 );
    font-size: 10pt;
    width: 100%;
    margin-bottom: 5px;
}

#subtitleDisplayWrapper {
    position: relative;
    bottom: 5px;
    left: 5px;
    width: 100%;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;    
}

#loggerBox {
    width: 26%;
    height: 140px;
    background-color: rgba( 0, 0, 0, 0.6 );
    position: absolute;
    bottom: 30px;
    left: 180px;
    overflow-y: scroll;
    padding: 5px;
    z-index: 0;
}

#failScreen {
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 95;
}

.tooltip {
    width: 300px;
    right: 10px;
    bottom: 10px;
    background-color: rgba( 0, 0, 0, 0.6 );
    color: rgb( 193, 244, 255 );
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    border: 2px solid rgb( 193, 244, 255 );
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    z-index: 51;
}

.videoWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 103;
}

.video {
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#vidScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 102;
    pointer-events: none;
    display: none;
}

#pauseScreen {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: all;
    background-color: rgba( 0, 0, 0, 0.5 );
    z-index: 101;
}

#pauseWrapper {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 400px;
}

.pauseMenu {
    position: absolute;
    top: 30%;
    width: 400px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgba( 193, 244, 255, 0.2 );
    border: 1px solid rgb( 129, 232, 255 );
    border-radius: 8px;
}

.pauseMenuButton {
    height: 64;
    line-height: 64px;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb( 129, 232, 255 );
    text-shadow: 0px 0px 2px rgb( 193, 244, 255 );
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 10%;
}

.pauseMenuButton.hover {
    color: rgb( 255, 255, 255 );
    text-shadow: 0px 0px 2px rgb( 1, 211, 255 );
}

.pauseMenuButton.select {
    color: rgb( 1, 211, 255 );
}

#scenarioSelector {
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    margin-left: 10%;
    margin-right: 10%;
    display: table;
}

#previousScenario {
    width: 64px;
    height: 64px;
    background-image: url( "../../assets/images/previous_arrow.png" );
}

#nextScenario {
    width: 64px;
    height: 64px;
    background-image: url( "../../assets/images/next_arrow.png" );
}

#scenarioDisplay {
    height: 64px;
    width: 192px;
    line-height: 24px;
    font-size: 24px;
    text-align: center;
    text-shadow: 0px 0px 4px rgb( 129, 232, 255 );
}

.inlineButton {
    color: rgb( 129, 232, 255 );
    display: table-cell;
    vertical-align: middle;
    border-radius: 4px;
}
.inlineButton.hover {
    color: rgb( 255, 255, 255 );
}
.inlineButton.select {
    color: rgb( 1, 211, 255 );
}

.slider {
    height: 64;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 10%;
    display: table;
}

.sliderToggle {
    height: 64px;
    width: 64px;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    display: table-cell;
}

.sliderToggle.hover {
    background-color: rgba( 255, 255, 255, 0.25 );
}

.sliderToggle.select {
    background-color: rgba( 162, 225, 238, 0.25 );
}

.sliderTrack {
    height: 64px;
    width: 256px;
    border-radius: 4px;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-image: url( "../../assets/images/slider_track.png" );
    display: table-cell;
}

.sliderReadout {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
    color: rgb( 255, 255, 255 );
    pointer-events: none;
}

.sliderHandle {
    height: 32px;
    width: 32px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-image: url( "../../assets/images/slider_handle.png" );
    pointer-events: none;
}

#mute {
    background-image: url( "../../assets/images/volume_icon.png" );
}
#mute.muted {
    background-image: url( "../../assets/images/volume_mute_icon.png" );
}

#loginBox {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 400px;
}

#loginForm {
    position: absolute;
    top: 60%;
    height: 120px;
    width: 400px;
    background-color: rgba( 0, 0, 0, 0.75);
    color: rgb( 129, 232, 255 );
    border-radius: 8px;
    text-align: center;
}

#loginHeading {
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}

#logout {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 24px;
    line-height: 24px;
    font-size: 20px;
    color: rgb( 225, 225, 225 );
    text-shadow: 0px 0px 1px rgb( 0, 0, 0 );
}