body {
    font-family: sans-serif;
}

.wrapper {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

.menu {
    pointer-events: all;
    border-spacing: 0px;
    font-size: 0px;
}

.menubutton {
    height: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgb( 50, 90, 150 );
    background-color: rgb( 225, 225, 225 );
    border: 1px solid rgb( 200, 200, 200 );
    border-top: 0px;
    font-size: 12px;
    text-align: center;
}

.menuOption {
    display: inline-block;
    width: 48px;
}

.dropDownMenu {
    float: left;
    position: relative;
    background-color: rgb( 245, 245, 245 );
    border: 1px solid rgb( 225, 225, 225 );
    z-index: 1;
    display: none;
    white-space: nowrap;
}

.ddBtn {
    display: block;
    font-size: 12px;
    padding: 4px 8px;
}

.ddBtn.hover {
    background-color: rgb( 50, 90, 150 );
    color: rgb( 255, 255, 255 );
}

.toolbar {
    pointer-events: all;
    display: table;
    border-spacing: 4px;
}

.toolgroup {
    display: table-cell;
    height: 100%;
}

.toolbutton {
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    background-color: rgb( 225, 225, 225 );
    border: 1px solid rgb( 200, 200, 200 );
    border-radius: 4px;
    margin-right: 2px;
    margin-top: 1px;
}

.toolbutton.selected {
    background-color: rgb( 255, 255, 255 );
    border: 1px solid rgb( 50, 90, 150 );
}

.toolbutton:first-child {
    margin-left: 2px;
}

.toolbutton img {
    margin-top: 2px;
}

.events {
    pointer-events: all;
}

.bordered {
    background-color: rgb( 255, 255, 255 );
    border: 1px dashed rgb( 50, 90, 150 );
    border-radius: 4px;
}

.listitem {
    height: 24px;
    width: 100%;
    line-height: 24px;
}

.listitem.hover {
    background-color: rgb( 50, 90, 150 );
    color: rgb( 255, 255, 255 );
}

.promptbutton {
    width: 48px;
    height: 24px;
    line-height: 24px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    color: rgb( 255, 255, 255 );
    background-color: rgb( 50, 90, 150 );
    border: 1px dashed rgb( 200, 200, 200 );
    display: inline-block;
}

.prompttext {
    margin-bottom: 4px;
    text-align: center;
    display: block;
}

.inline {
    display: inline-block;
}

#vwf-root {
    position: absolute;
    left: 200px;
    right: 0px;
    top: 72px;
    bottom: 0px;
}

#vwf-root canvas {
    height: 100%;
    width: 100%;
}

#uiwrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#header {
    width: 100%;
    height: 72px;
    background-color: rgb( 245, 245, 245 );
    border-bottom: 1px solid rgb( 225, 225, 225 );
}

#menubar {
    width: 100%;
    height: 24px;
    background-color: rgb( 245, 245, 245 );
}

#headertoolbar {
    width: 100%;
    height: 44px;
}

#sidepanel {
    position: absolute;
    top: 72px;
    bottom: 0px;
    width: 200px;
    background-color: rgb( 245, 245, 245 );
    border-right: 1px solid rgb( 225, 225, 225 );
    z-index: 0;
}

#assetwrapper {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    text-align: center;
    font-size: 14px;
    padding: 2px;
}

#assettype {
    background-color: rgb( 50, 90, 150 );
    color: rgb( 255, 255, 255 );
    margin-bottom: 2px;
}

#assetlist {
    background-color: rgb( 245, 245, 245 );
    border: 1px solid rgb( 225, 225, 225 );
    font-size: 12px;
}

#prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: rgb( 50, 90, 150 );
    background-color: rgb( 225, 225, 225 );
    border: 1px solid rgb( 255, 255, 255 );
    padding: 4px;
    pointer-events: all;
}

#fileWrapper {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 400px;
}

#fileDialog {
    position: absolute;
    top: 40%;
    width: 400px;
    background-color: rgb( 225, 225, 225 );
    border: 1px solid rgb( 255, 255, 255 );
    text-align: center;
    display: none;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#fileCloseButton {
    height: 22px;
    width: 22px;
    float: right;
    position: absolute;
    top: 4px;
    right: 4px;
    line-height: 24px;
    font-size: 22px;
    font-weight: bold;
    background-color: rgb( 225, 225, 225 );
    border: 1px solid rgb( 128, 128, 128 );
    color: rgb( 50, 90, 150 );
}

#title {
    height: 32px;
    text-align: center;
    background-color: rgb( 50, 90, 150 );
    color: rgb( 255, 255, 255 );
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
}

#loadElement {}

#saveElement {}

#saveElement input {}

#saveElement a {
    padding: 2px 8px;
    font-size: 18px;
    font-weight: bold;
    color: rgb( 0, 0, 0 );
    background-color: rgb( 255, 255, 255 );
    border: 1px solid rgb( 50, 90, 150 );
}

#saveElement a:link {
    color: rgb( 0, 0, 0 );
}

#saveElement a:visited {
    color: rgb( 0, 0, 0 );
}

#saveElement a:hover {
    color: rgb( 0, 0, 0 );
}

#saveElement a:active {
    color: rgb( 0, 0, 0 );
}

#sliderWrapper {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 350px;
}

#sliderBox {
    position: absolute;
    bottom: 16px;
    background-color: rgb( 255, 255, 255 );
    border: 1px solid rgb( 50, 90, 150 );
    padding: 8px;
    display: none;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#icon {
    height: 32px;
    width: 32px;
    background-image: url( "../assets/images/editor/timeOfDay.png" );
}

#slider {
    height: 32px;
    width: 318px;
    background-image: url( "../assets/images/editor/sliderTrack.png" );
}

#handle {
    height: 32px;
    width: 32px;
    background-image: url( "../assets/images/editor/sliderHandle.png" );
    pointer-events: none;
}

#closeSlider {
    background-color: rgb( 225, 225, 225 );
    border: 1px solid rgb( 200, 200, 200 );
    width: 64px;
    height: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
}

#readout {
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    text-align: center;
}

/* START JSON viewer styles */

#scenarioEditor {
    position: absolute;
    top: 73px;
    right: 0px;
    bottom: 0px;
    width: 400px;
    background-color: rgb( 245, 245, 245 );
    display: none;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

#scenarioHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 24px;
    background-color: rgb( 50, 90, 150 );
    color: rgb( 255, 255, 255 );
    text-align: center;
    line-height: 24px;
}

#scenarioCloseButton {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 22px;
    height: 22px;
    line-height: 24px;
    background-color: rgb( 225, 225, 225 );
    color: rgb( 50, 90, 150 );
    border: 1px solid rgb( 50, 90, 150 );
    font-size: 22px;
    font-weight: bold;
}

#scenarioOptions {
    position: absolute;
    top: 24px;
    left: 0px;
    right: 0px;
    height: 24px;
    background-color: rgb( 225, 225, 225 );
    color: rgb( 50, 90, 150 );
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    pointer-events: all;
}

.scenarioOption {
    display: inline-block;
    margin: 0px 12px;
    padding: 0px 12px;
}

#scenarioList {
    position: absolute;
    top: 52px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    padding: 4px;
    background-color: rgb( 255, 255, 255 );
    border: 1px dashed rgb( 50, 90, 150 );
    overflow: scroll;
}

#centerNewElementDialog {
    width: 300px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#newElementDialog {
    position: absolute;
    top: 50%;
    width: 300px;
    background-color: rgb( 225, 225, 225 );
    border: 1px solid rgb( 200, 200, 200 );
    display: none;
}

#elementDialogTitle {
    background-color: rgb( 50, 90, 150 );
    color: rgb( 255, 255, 255 );
    text-align: center;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
}

.inlineElements {
    text-align: center;
}

.inlineElements * {
    display: inline-block;
}

#elementName {
    font-size: 14px;
    padding: 2px;
    margin: 4px;
}

#elementType {
    font-size: 14px;
    padding: 2px;
    margin: 4px;
}

#submitElement, #cancelElement {
    width: 125px;
    font-size: 14px;
    pointer-events: all;
    margin: 4px;
}

#centerNewScenarioDialog {
    width: 200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#newScenarioDialog {
    position: absolute;
    top: 50%;
    width: 200px;
    background-color: rgb( 225, 225, 225 );
    border: 1px solid rgb( 200, 200, 200 );
    display: none;
}

#newScenarioTitle {
    background-color: rgb( 50, 90, 150 );
    color: rgb( 255, 255, 255 );
    text-align: center;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
}

#newScenarioName {
    font-size: 14px;
    padding: 2px;
    margin: 4px;
}

#newScenarioSubmit, #newScenarioCancel {
    width: 75px;
    font-size: 14px;
    pointer-events: all;
    margin: 4px;
}

.entry {
    background-color: rgb( 225, 225, 225 );
    border: 1px solid rgb( 200, 200, 200 );
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    padding-left: 5px;
}

.entry input {
    padding: 0px;
    font-size: inherit;
}

.category {}

.collapsible {
    background-color: rgb( 200, 200, 200 );
    padding-left: 4px;
    border-left: 1px dotted rgb( 225, 225, 225 );
}

.collapsed {
    display: none;
}

.addBtn {
    display: inline-block;
    position: absolute;
    right: 0px;
    height: 22px;
    width: 22px;
    line-height: 22px;
    margin-right: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: rgb( 50, 90, 150 );
    background-color: rgb( 225, 225, 225 );
    border: 1px solid rgb( 200, 200, 200 );
    pointer-events: all;
}

/* END JSON viewer styles */