body {
    font-family: "Arial", Gadget, sans-serif;
}

.wrapper {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    cursor: default;
}

.menu {
    pointer-events: all;
    border-spacing: 0px;
    font-size: 0px;
}

.menubutton {
    height: 24px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 24px;
    text-transform: uppercase;
    font-variant: small-caps;
    color: rgb( 50, 90, 150 );
    background-color: rgb( 225, 225, 225 );
    border: 1px solid rgb( 200, 200, 200 );
    border-top: 0px;
    font-size: 12px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.toolbar {
    pointer-events: all;
    display: table;
    border-spacing: 4px;
}

.toolgroup {
    display: table-cell;
    height: 100%;
}

.events {
    pointer-events: all;
}

.bordered {
    background-color: rgb( 255, 255, 255 );
    border: 1px dashed rgb( 50, 90, 150 );
    border-radius: 4px;
}

.listitem {
    height: 24px;
    width: 100%;
    line-height: 24px;
}

.listitem.hover {
    background-color: rgb( 50, 90, 150 );
    color: rgb( 255, 255, 255 );
}

#vwf-root {
    position: absolute;
    left: 200px;
    right: 0px;
    top: 72px;
    bottom: 0px;
}

#vwf-root canvas {
    height: 100%;
    width: 100%;
}

#uiwrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#header {
    width: 100%;
    height: 72px;
    background-color: rgb( 245, 245, 245 );
    border-bottom: 1px solid rgb( 225, 225, 225 );
}

#menubar {
    width: 100%;
    height: 24px;
    background-color: rgb( 245, 245, 245 );
}

#headertoolbar {
    width: 100%;
    height: 48px;
}

#sidepanel {
    position: absolute;
    top: 72px;
    bottom: 0px;
    width: 200px;
    background-color: rgb( 245, 245, 245 );
    border-right: 1px solid rgb( 225, 225, 225 );
}

#assetwrapper {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    text-align: center;
    font-size: 14px;
    padding: 2px;
}

#assettype {
    background-color: rgb( 50, 90, 150 );
    color: rgb( 255, 255, 255 );
    margin-bottom: 2px;
}

#assetlist {
    background-color: rgb( 245, 245, 245 );
    border: 1px solid rgb( 225, 225, 225 );
    font-size: 12px;
}